In [1]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

In [10]:
>>> True

True

In [8]:
>>> False

False

In [7]:
>>> False or True

True

In [6]:
>>> not (False or True)

False

In [9]:
>>> True and True

True

Lists are heterogeneous, meaning that the data objects need not all be from the same class and the collection can be assigned to a variable as below.

In [11]:
print([1,3,True,6.5])
myList = [1,3,True,6.5]
print(myList)

[1, 3, True, 6.5]
[1, 3, True, 6.5]

In [17]:
myList = [1,2,3,4]
print("vector ", myList)
A = [myList]*3
print("repetition = ", A)

myList[2]=45
print("repetition and change item = ", A)

print("concat = ", myList + [0,0,0,0,0])

vector  [1, 2, 3, 4]
repetition =  [[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
repetition and change item =  [[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]
concat =  [1, 2, 45, 4, 0, 0, 0, 0, 0]

In [18]:
# append adds a new item
myList.append(10000)
print(myList)

[1, 2, 45, 4, 10000]

In [20]:
myList.insert(3, 2000)
print(myList)

[1, 2, 45, 2000, 2000, 4, 10000]

In [21]:
# removes last item from the list and returns it
myList.pop()

10000

In [22]:
myList

[1, 2, 45, 2000, 2000, 4]

In [24]:
# removes last item at i position the list and returns it
myList.pop(3)

2000

In [27]:
myList.reverse()
myList

[4, 2000, 45, 2, 1]

In [28]:
myList.index(2000)

1

In [29]:
myList.index(4)

0

In [30]:
myList_new = myList*3

In [32]:
myList_new.count(myList[1])

3

In [34]:
myList_new.remove(2000)

In [36]:
myList_new

[4, 45, 2, 1, 4, 2000, 45, 2, 1, 4, 2000, 45, 2, 1]

In [37]:
myName = "NehaBora"

In [39]:
myName[3]

'a'

In [40]:
myName*2

'NehaBoraNehaBora'

In [41]:
len(myName)

8

In [42]:
myName.upper()

'NEHABORA'

In [43]:
myName.lower()

'nehabora'

In [53]:
# Returns a string centered in a field of size w
myName.center(10)

' NehaBora '

In [57]:
myName.count('b')

0

In [58]:
myName.ljust(15)

'NehaBora       '

In [59]:
myName.rjust(15)

'       NehaBora'

In [62]:
myName.find('g')

-1

In [69]:
myName.split("a")

['Neh', 'Bor', '']

In [66]:
myName.split("")

ValueError: empty separator

In [68]:
myName[2] ='x'

TypeError: 'str' object does not support item assignment

Tuples are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described above. For example,

In [70]:
myTuple = (2, True, 4, 0.95)

In [71]:
myTuple

(2, True, 4, 0.95)

In [72]:
len(myTuple)

4

In [75]:
myTuple[2:]

(4, 0.95)

In [76]:
myTuple*3

(2, True, 4, 0.95, 2, True, 4, 0.95, 2, True, 4, 0.95)

In [77]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

A set is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by set(). Sets are heterogeneous, and the collection can be assigned to a variable as below.

In [81]:
{3, 5, "ffff", False}

{3, 5, False, 'ffff'}

In [85]:
mySet1 = {3, 5, "ffff", False, 5.5}
mySet2 = {3,"hhhh","newstuff", "basic", 5, False }

In [86]:
mySet1 | mySet2

{3, 5, 5.5, False, 'basic', 'ffff', 'hhhh', 'newstuff'}

In [87]:
mySet1 - mySet2

{5.5, 'ffff'}

In [90]:
mySet2 - mySet1

{'basic', 'hhhh', 'newstuff'}

In [91]:
mySet1 & mySet2

{False, 3, 5}

In [92]:
False in mySet1

True

In [93]:
mySet1.union(mySet2)

{3, 5, 5.5, False, 'basic', 'ffff', 'hhhh', 'newstuff'}

In [94]:
mySet1.intersection(mySet2)

{False, 3, 5}

In [95]:
mySet1.difference(mySet2)

{5.5, 'ffff'}

In [96]:
mySet1.isdisjoint(mySet2)

False

In [97]:
mySet1.issubset(mySet2)

False

In [98]:
mySet1.issuperset(mySet2)

False

In [100]:
mySet1.issuperset(mySet), mySet1.issubset(mySet)

(True, True)

In [101]:
mySet1

{3, 5, 5.5, False, 'ffff'}

In [103]:
mySet

{3, 5, 5.5, False, 'ffff'}

In [106]:
# Dictionaries
capitals = {"Arunachal":"Itanagar", 
            "Maharashtra":"Mumbai",
            "Gujarat":"Ahmedabad",
            "Utah":"SaltLakeCity"
           }

for k in capitals:
    print(capitals[k], "is capital of", k)

Itanagar is capital of Arunachal
Mumbai is capital of Maharashtra
Ahmedabad is capital of Gujarat
SaltLakeCity is capital of Utah

In [107]:
del capitals["Arunachal"]

In [108]:
capitals

{'Gujarat': 'Ahmedabad', 'Maharashtra': 'Mumbai', 'Utah': 'SaltLakeCity'}

In [110]:
capitals.values()

dict_values(['Mumbai', 'Ahmedabad', 'SaltLakeCity'])

In [111]:
capitals.keys()

dict_keys(['Maharashtra', 'Gujarat', 'Utah'])

adict.get(k,alt)	Returns the value associated with k, alt otherwise

In [118]:
capitals.get("Arunachal", "None")

'None'